{% extends "layouts/base.html" %}
{% block body %}
<body>
    <div class="container" style="background-color: rebeccapurple">
        <div class="center-block" style="margin: 2% 5% 5%;">
            <div class="col-12" style="text-align: center;">
                <br>
                <img src="/static/design/kaavyanomask.jpg" style="height: 200px;
    width: 25%">
                <p> We don't have an artist yet so I am showcasing myself. My name is Kaavya and I like romantic and abstract art.
                </p>
                <p>-We will have a video interview embedded (here)</p>
                <p>- We will have their personal art piece (here)</p>
                <p style="text-align: center">
                    <a href="https://damprojects.org" class="button1">Link to My Favorite Art Gallery</a>
                <br>

            </div>
            <br>
            <br>
            <br>




            {% endblock %}
</body>
</html>