
{% extends "layouts/base.html" %}

{% block body %}

<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet">
    <style>
        .Slides {display:none;}
    </style>
</head>

<body>
<h2 class="w3-center">Rotating Gallery</h2>

<div class="w3-content w3-section" style="max-width:500px">
    <img class="Slides" src="/static/design/Photo on 12-9-21 at 1.06 PM.jpg" style="width:100%" alt="Tyler Mask">
    <img class="Slides" src="/static/design/scream.webp" style="width:100%" alt="Purple City">
    <img class="Slides" src="/static/design/katie.jpg" style="width:100%" alt="Katie">
    <img class="Slides" src="/static/design/sunday.jpg" style="width:100%" alt="Sunday">
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("Slides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
</script>

</body>

{% endblock %}

</html>