<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}
{% block body %}
<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Portfolio" %}
{% set overview = "https://nighthawkcodingsociety.com/projectsearch/details/Flask%20Portfolio%20Starter" %}
{% set repo = "https://github.com/nighthawkcoders/flask_portfolio/" %}

<style>
    body {
        background-image: url("/static/design/purple city.png");
        ackground-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;

    }
    .button {
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
    }
</style>

<div class="welcome-text" style="text-align: center">
    <h1>
        Del Norte <span>Artists</span></h1>
    <br>
    <br>
    <p style="text-align: center; background-color:transparent";>
        <a href="http://127.0.0.1:5000/katie" class="button1">About Us</a>

{% endblock %}
<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}