{% extends "layouts/base.html" %}

{% block body %}
<body>
    <!-- bootstrap found in Youtube video about ajax https://www.youtube.com/watch?v=MG9itGX1hD0 and https://www.w3schools.com/jquERy/default.asp -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- function for grayscale -->
    <script>
        //
        <!-- used var to toggle grayscale values and dynamically change rgb values -->
        <!-- var is defining a variable and 2 is assigned to colorscale and 1 is assigned to grayscale-->
        var imageType = 2;
        function toggle() {
            if (imageType == 2) {
                $('#colorscale').hide()
                $('#grayscale').show()
                imageType = 1; <!-- allows for toggling back and forth -->
            } else {
                $('#grayscale').hide()
                $('#colorscale').show()
                imageType = 2; <!-- allows for toggling back and forth -->
            }
        }
        <!-- pinkscale function -->
        function pinkScale(index) {
            if (document.getElementById("pinkbutton" + index).innerText == "Pinkscale!") {
                document.getElementById("img" + index).src = document.getElementById("img_pink" + index).innerText;
                document.getElementById("pinkbutton" + index).innerText = "Back to Original :)";
            }
            else
            {
                document.getElementById("img" + index).src = document.getElementById("img_orig" + index).innerText;
                document.getElementById("pinkbutton" + index).innerText = "Pinkscale!";
            }
        }
    </script>

    <title>RGB</title>


    <!-- regular base64 table -->
    <br>
    <h2 class="text-center">RGB Values Within Student Art</h2>
    <div class="container">
        <div class="row justify-content-md-center" id="colorscale"> <!-- "id" corresponds to $('#colorscale').show/hide() -->
            <table class="table">
                <thead>
                <tr>
                    <th>Meta Data</th>
                    <th>Student Image</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <td>
                            <div>{{image.file}}</div>
                            <div>{{image.format}}</div>
                            <div>{{image.size}}</div>
                            <div>{{image.label}}</div>
                            <div>{{image.source}}</div>
                        </td>
                        <td>
                            <!-- original image part -->
                            <img class="img-responsive py-3" id=img{{loop.index}} alt="" width="256" height="Auto" src="{{image.base64}}">
                            <p hidden id="img_orig{{loop.index}}">{{image.base64}}</p>
                            <button onclick="toggle()">Grayscale!</button>
                            <!-- pinkscale image part -->
                            <p hidden id="img_pink{{loop.index}}">{{image.base64_PINK}}</p>
                            <button id="pinkbutton{{loop.index}}" onclick="pinkScale({{loop.index}})">Pinkscale!</button>
                        </td>
                        <td>
                            <div class="overflow-auto" style="height: 256px">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{image.mode}}</th>
                                        <th>Hex Code</th>
                                        <th>Binary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in image.data[:256+1] %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{row}}</td>
                                            <td>{{image.hex_array[loop.index - 1]}}</td>
                                            <td>{{image.binary_array[loop.index - 1]}}
                                        </tr>
                                        {% if loop.index > 256 %}
                                            <tr><td>...</td><td>truncated</td><td>...</td><td>...</td></tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

        <!-- grayscale table  -->
        <div class="row justify-content-md-center" id="grayscale"> <!-- corresponds to $('#grayscale').show/hide() -->
            <table class="table">
                <thead>
                <tr>
                    <th>Meta Data</th>
                    <th>Student Image</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <td>
                            <div>{{image.file}}</div>
                            <div>{{image.format}}</div>
                            <div>{{image.size}}</div>
                            <div>{{image.label}}</div>
                            <div>{{image.source}}</div>
                        </td>
                        <td>
                            <!-- gray scale image part -->
                            <img class="img-responsive py-3" id=img{{loop.index}} alt="" width="256" height="Auto" src="{{image.base64_GRAY}}">
                            <!-- Hack: create button (btn{{loop.index}} to  call javascript function
                               pass index to allow you to toggle images with hidden id's
                               {{image.base64}}  original image
                               {{image.base64_GRAY}}  gray scale image
                            -->
                            <p hidden id="img_gray{{loop.index}}">{{image.base64_GRAY}}</p>
                            <button onclick="toggle()">Back to original :)</button>

                            <!-- pinkscale image part -->
                            <p hidden id="img_pink{{loop.index}}">{{image.base64_PINK}}</p>
                            <button id="pinkbutton{{loop.index}}" onclick="pinkScale({{loop.index}})">Pinkscale!</button>
                        </td>
                        <td>
                            <div class="overflow-auto" style="height: 256px">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{image.mode}}</th>
                                        <th>Hex Code</th>
                                        <th>Binary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in image.gray_data[:256+1] %} <!-- img.gray_data instead of img.data -->
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{row}}</td>
                                            <td>{{image.hex_array_GRAY[loop.index - 1]}}</td>
                                            <td>{{image.binary_array_GRAY[loop.index - 1]}}
                                        </tr>
                                        {% if loop.index > 256 %}
                                            <tr><td>...</td><td>truncated</td><td>...</td><td>...</td></tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <script>
        <!-- end of function for grayscale -->
        $( document ).ready(function() {
            $('#grayscale').hide()
        });
    </script>
</body>
{% endblock %}
